<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "- //mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaezi.log.dao.UserOperateDao">
    <resultMap id="userAuth" type="com.jaezi.log.model.UserOperate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="api_path" jdbcType="VARCHAR" property="apiPath"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="browser_name" jdbcType="VARCHAR" property="browserName"/>
        <result column="browser_version" jdbcType="VARCHAR" property="browserVersion"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="device_os" jdbcType="VARCHAR" property="deviceOs"/>
        <result column="os_name" jdbcType="VARCHAR" property="osName"/>
        <result column="os_version" jdbcType="VARCHAR" property="osVersion"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
    </resultMap>

    <sql id="base_column">
        suo.id,
        suo.username,
        suo.api_path,
        suo.request_method,
        suo.params,
        suo.`result`,
        suo.ip,
        suo.browser_name,
        suo.browser_version,
        suo.device_type,
        suo.device_os,
        suo.os_name,
        suo.os_version,
        suo.create_time
    </sql>

    <!-- 查询所有操作日志列表 -->
    <select id="getAllVos" resultMap="userAuth" parameterType="java.util.Map">
        SELECT
        <include refid="base_column"></include>
        FROM sys_user_operate suo
        <where>
            <if test="username != null and username != ''">
                suo.username like CONCAT('%',#{username},'%')
            </if>
        </where>
        ORDER BY suo.id DESC
    </select>

    <!-- 根据ID 获取用户操作日志 -->
    <select id="getOneById" parameterType="java.lang.Integer" resultMap="userAuth">
        SELECT
        <include refid="base_column"></include>
        FROM sys_user_operate suo WHERE suo.id = #{id}
    </select>

    <!-- 添加一个用户操作日志 -->
    <insert id="add" parameterType="com.jaezi.log.model.UserAuth" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO sys_user_operate(username, api_path, request_method, params, result, ip, browser_name,
                                     browser_version, device_type,
                                     device_os, os_name, os_version, create_time)
        VALUES (#{username}, #{apiPath}, #{requestMethod}, #{params}, #{result}, #{ip}, #{browserName},
                #{browserVersion}, #{deviceType}, #{deviceOs},
                #{osName}, #{osVersion}, #{createTime})
    </insert>

    <!-- 转存用户操作日志 -->
    <insert id="userOperateDump">
        CREATE TABLE ${userOperate} AS
        SELECT *
        FROM sys_user_operate
    </insert>

    <!-- 修改用户操作日志 -->
    <update id="update" parameterType="com.jaezi.log.model.UserAuth">
        UPDATE sys_user_operate
        SET
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="apiPath != null and apiPath != ''">
                api_path = #{apiPath},
            </if>
            <if test="requestMethod != null and requestMethod != ''">
                request_method = #{requestMethod},
            </if>
            <if test="params != null and params != ''">
                params = #{params},
            </if>
            <if test="result != null and result != ''">
                result = #{result},
            </if>
            <if test="ip != null and ip != ''">
                ip = #{ip},
            </if>
            <if test="browserName != null and browserName != ''">
                browser_name = #{browserName},
            </if>
            <if test="browserVersion != null and browserVersion != ''">
                browser_version = #{browserVersion},
            </if>
            <if test="deviceType != null and deviceType != ''">
                device_type = #{deviceType},
            </if>
            <if test="deviceOs != null and deviceOs != ''">
                device_os = #{deviceOs},
            </if>
            <if test="osName != null and osName != ''">
                os_name = #{osName},
            </if>
            <if test="osVersion != null and osVersion != ''">
                os_version = #{osVersion},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 删除一个用户操作日志 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM sys_user_auth
        WHERE id = #{id}
    </delete>

    <!-- 删除用户操作日志 -->
    <delete id="deleteUserOperate">
        TRUNCATE sys_user_auth
    </delete>

</mapper>