<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaezi.bus.financialAffairs.dao.ConsignmentSalesInvoiceOutDao">

    <resultMap id="consignmentSalesInvoiceOut" type="com.jaezi.bus.financialAffairs.model.ConsignmentSalesInvoiceOut">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="plant" property="plant" jdbcType="INTEGER"/>
        <result column="material_number" property="materialNumber" jdbcType="VARCHAR"/>
        <result column="material_name" property="materialName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="out_invoice_period" property="outInvoicePeriod" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="tax_price_total" property="taxPriceTotal" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR"/>
        <result column="real_name" property="supplierName" jdbcType="VARCHAR"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="purchase_order" property="purchaseOrder" jdbcType="INTEGER"/>
        <result column="material" property="material" jdbcType="VARCHAR"/>
        <result column="material_describe" property="materialDescribe" jdbcType="VARCHAR"/>
        <result column="not_out_invoice_number" property="notOutInvoiceNumber" jdbcType="INTEGER"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="invoice_group" property="invoiceGroup" jdbcType="VARCHAR"/>
        <result column="temporal_interval" property="temporalInterval" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base_column">
        bcsio.id, bcsio.plant,bcsio.material_number,sm.material_name,bcsio.quantity,bcsio.out_invoice_period,bcsio.amount,
        bcsio.tax_price_total,bcsio.create_time,bcsio.supplier_code,
        bcsio.tax_rate, bcsio.purchase_order,bcsio.material_number AS material,sm.material_description AS material_describe,
        bcsio.not_out_invoice_number,bcsio.unit_price,bcsio.status,bcsio.invoice_group,bcsio.temporal_interval
    </sql>

    <sql id="base_column1">
        bcsio.id, bcsio.plant,bcsio.material_number,sm.material_name,bcsio.quantity,bcsio.out_invoice_period,bcsio.amount,
        bcsio.tax_price_total,bcsio.create_time,bcsio.supplier_code,
        bcsio.tax_rate, bcsio.purchase_order,bcsio.material_number AS material,sm.material_description AS material_describe,
        bcsio.not_out_invoice_number,bcsio.unit_price,bcsio.status,bcsio.invoice_group,bcsio.temporal_interval,
        su.real_name
    </sql>

    <!-- 寄售物资发票查询-->
    <select id="getAllVos" resultMap="consignmentSalesInvoiceOut" parameterType="java.util.Map">
        SELECT
        <include refid="base_column"/>
        FROM bus_consignment_sales_invoice_out bcsio
        LEFT JOIN sys_material sm ON bcsio.material_number = sm.material_number
        <where>
            <if test="supplierCode != '' and supplierCode != null">
                bcsio.supplier_code = #{supplierCode}
            </if>
            <if test="userType == 1">
                <!-- 供应商看自己的数据 -->
                AND bcsio.supplier_code IN (
                SELECT username FROM sys_user WHERE real_name = #{realName}
                )
            </if>
            <if test="userType == 0">
                <!-- 企业用户看绑定供应商的数据 -->
                AND bcsio.supplier_code IN (
                SELECT supplier_code FROM sys_material_supplier WHERE material_number IN (SELECT material_number FROM
                sys_material WHERE buyer_number = #{realName})
                )
                AND bcsio.material_number IN (
                SELECT material_number FROM sys_material WHERE buyer_number = #{realName}
                )
            </if>
            <if test="plant != null and plant != ''">
                AND bcsio.plant = #{plant}
            </if>
            <if test="status != null and status != ''">
                AND bcsio.status = #{status}
            </if>
            <if test="startTime != null and startTime != ''">
                AND bcsio.temporal_interval = #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND bcsio.temporal_interval = #{endTime}
            </if>
            <if test="outInvoicePeriod != null and outInvoicePeriod != ''">
                AND bcsio.out_invoice_period = #{outInvoicePeriod}
            </if>
            <if test="invoiceGroup != null and invoiceGroup != ''">
                AND bcsio.invoice_group = #{invoiceGroup}
            </if>
        </where>
    </select>

    <!-- 寄售物资发票查询-->
    <select id="findAll" resultMap="consignmentSalesInvoiceOut" parameterType="java.util.Map">
        SELECT
        <include refid="base_column1"/>
        FROM bus_consignment_sales_invoice_out bcsio
        LEFT JOIN sys_material sm ON bcsio.material_number = sm.material_number
        LEFT JOIN sys_user su on bcsio.supplier_code=su.username
        <where>
            <if test="supplierCode != '' and supplierCode != null">
                bcsio.supplier_code = #{supplierCode}
            </if>
            <if test="userType == 1">
                <!-- 供应商看自己的数据 -->
                AND bcsio.supplier_code IN (
                SELECT username FROM sys_user WHERE real_name = #{realName}
                )
            </if>
            <if test="userType == 0">
                <!-- 企业用户看绑定供应商的数据 -->
                AND bcsio.supplier_code IN (
                SELECT supplier_code FROM sys_material_supplier WHERE material_number IN (SELECT material_number FROM
                sys_material WHERE buyer_number = #{realName})
                )
                AND bcsio.material_number IN (
                SELECT material_number FROM sys_material WHERE buyer_number = #{realName}
                )
            </if>
            <if test="plant != null and plant != ''">
                AND bcsio.plant = #{plant}
            </if>
            <if test="status != null and status != ''">
                AND bcsio.status = #{status}
            </if>
            <if test="startTime != null and startTime != ''">
                AND bcsio.temporal_interval >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND bcsio.temporal_interval &lt;= #{endTime}
            </if>
            <if test="invoiceGroup != null and invoiceGroup != ''">
                AND bcsio.invoice_group = #{invoiceGroup}
            </if>
        </where>
    </select>

    <!-- 查询一个寄售物资发票-->
    <select id="getOneById" parameterType="java.lang.Integer" resultMap="consignmentSalesInvoiceOut">
        SELECT bcsio.id,
               bcsio.plant,
               bcsio.material_number,
               bcsio.quantity,
               bcsio.out_invoice_period,
               bcsio.amount,
               bcsio.tax_price_total,
               bcsio.create_time,
               bcsio.supplier_code,
               bcsio.tax_rate,
               bcsio.purchase_order,
               bcsio.material_number,
               bcsio.not_out_invoice_number,
               bcsio.unit_price,
               bcsio.status,
               bcsio.invoice_group,
               bcsio.temporal_interval
        FROM bus_consignment_sales_invoice_out bcsio
        WHERE id = #{id}
    </select>

    <select id="getConsignmentByPOrderAndMatNum" parameterType="java.lang.String"
            resultMap="consignmentSalesInvoiceOut">
        SELECT
        bcsio.id,
        bcsio.plant,
        bcsio.material_number,
        bcsio.quantity,
        bcsio.out_invoice_period,
        bcsio.amount,
        bcsio.tax_price_total,
        bcsio.create_time,
        bcsio.supplier_code,
        bcsio.tax_rate,
        bcsio.purchase_order,
        bcsio.material_number,
        bcsio.not_out_invoice_number,
        bcsio.unit_price,
        bcsio.status,
        bcsio.invoice_group,
        bcsio.temporal_interval
        FROM bus_consignment_sales_invoice_out bcsio
        <where>
            <if test="purchaseOrder != null and purchaseOrder != ''">
                bcsio.purchase_order = #{purchaseOrder}
            </if>
            <if test="materialNumber != null and materialNumber != ''">
                AND bcsio.material_number = #{materialNumber}
            </if>
        </where>
    </select>

    <!-- 更新寄售物资开票信息 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM bus_consignment_sales_invoice_out
        WHERE id = #{id}
    </delete>

    <insert id="add" parameterType="com.jaezi.bus.financialAffairs.model.ConsignmentSalesInvoiceOut">
        INSERT INTO bus_consignment_sales_invoice_out(plant, material_number, quantity, out_invoice_period, amount,
                                                      tax_price_total,
                                                      create_time, supplier_code, purchase_order,
                                                      not_out_invoice_number, unit_price, status, tax_rate)
        VALUES (#{plant}, #{materialNumber}, #{quantity}, #{outInvoicePeriod}, #{amount}, #{taxPriceTotal},
                #{createTime}, #{supplierCode},
                #{purchaseOrder},
                #{notOutInvoiceNumber}, #{unitPrice}, #{status}, #{taxRate})
    </insert>

    <update id="update" parameterType="com.jaezi.bus.financialAffairs.model.ConsignmentSalesInvoiceOut">
        UPDATE bus_consignment_sales_invoice_out
        SET
        <trim suffixOverrides=",">
            <if test="plant != null and plant != ''">plant = #{plant},</if>
            <if test="materialNumber != null and materialNumber != ''">material_number = #{materialNumber},</if>
            <if test="quantity != null and quantity != ''">quantity = #{quantity},</if>
            <if test="outInvoicePeriod != null and outInvoicePeriod != ''">out_invoice_period = #{outInvoicePeriod},
            </if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="taxPriceTotal != null and taxPriceTotal != ''">tax_price_total = #{taxPriceTotal},</if>
            <if test="taxRate != null and taxRate != ''">tax_rate = #{taxRate},</if>
            <if test="purchaseOrder != null and purchaseOrder != ''">purchase_order = #{purchaseOrder},</if>
            <if test="notOutInvoiceNumber != null">not_out_invoice_number = #{notOutInvoiceNumber},</if>
            <if test="unitPrice != null and unitPrice != ''">unit_price = #{unitPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="taxRate != null and taxRate != ''">tax_rate = #{taxRate},</if>
        </trim>
        WHERE id = #{id} AND supplier_code = #{supplierCode}
    </update>
</mapper>