<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaezi.bus.financialAffairs.dao.StandardInvoiceOutDao">

    <resultMap id="standardInvoiceOut" type="com.jaezi.bus.financialAffairs.model.StandardInvoiceOut">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="plant" property="plant" jdbcType="INTEGER"/>
        <result column="order" property="order" jdbcType="VARCHAR"/>
        <result column="material_voucher" property="materialVoucher" jdbcType="INTEGER"/>
        <result column="voucher_project" property="voucherProject" jdbcType="INTEGER"/>
        <result column="material" property="material" jdbcType="INTEGER"/>
        <result column="material_describe" property="materialDescribe" jdbcType="VARCHAR"/>
        <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR"/>
        <result column="hong_project" property="hongProject" jdbcType="INTEGER"/>
        <result column="interim_invoice_number" property="interimInvoiceNumber" jdbcType="INTEGER"/>
        <result column="aggregate_amount" property="aggregateAmount" jdbcType="DECIMAL"/>
        <result column="purchase_order" property="purchaseOrder" jdbcType="INTEGER"/>
        <result column="not_out_invoice_number" property="notOutInvoiceNumber" jdbcType="INTEGER"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="base_column">
        bsio.id,bsio.plant,bsio.`order`,bsio.material_voucher,bsio.voucher_project,bsio.material,
        sm.material_description AS material_describe,bsio.supplier_code,
        bsio.hong_project,bsio.interim_invoice_number,bsio.aggregate_amount,bsio.purchase_order,bsio.not_out_invoice_number,
        bsio.unit_price,quantity,bsio.create_time,bsio.status
      </sql>

    <!-- 查询标准物资开票-->
    <select id="getAllVos" resultMap="standardInvoiceOut" parameterType="java.util.Map">
        SELECT
        <include refid="base_column"/>
        FROM bus_standard_invoice_out bsio
        LEFT JOIN sys_material sm ON bsio.material = sm.material_number
        <where>
            <if test="supplierCode != null and supplierCode != ''">
                bsio.supplier_code = #{supplierCode}
            </if>
            <if test="userType == 1">
                <!-- 供应商看自己的数据 -->
                AND bsio.supplier_code IN (
                SELECT username FROM sys_user WHERE real_name = #{realName}
                )
            </if>
            <if test="userType == 0">
                <!-- 企业用户看绑定供应商的数据 -->
                AND bsio.supplier_code IN (
                SELECT supplier_code FROM sys_material_supplier WHERE material_number IN (SELECT material_number FROM sys_material WHERE buyer_number = #{realName})
                )
                <!-- 企业用户看绑定物料的数据 -->
                AND bsio.material_number IN (
                SELECT material_number FROM sys_material WHERE buyer_number = #{realName}
                )
            </if>
            <if test="plant != null and plant != ''">
                AND bsio.plant = #{plant}
            </if>
            <if test="startTime != null and startTime != ''">
                AND bsio.create_time = #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND bsio.create_time = #{endTime}
            </if>
        </where>
    </select>

    <!-- 查询标准物资开票-->
    <select id="findAll" resultMap="standardInvoiceOut" parameterType="java.util.Map">
        SELECT
        <include refid="base_column"/>
        FROM bus_standard_invoice_out bsio
        LEFT JOIN sys_material sm ON bsio.material = sm.material_number
        <where>
            <if test="supplierCode != null and supplierCode != ''">
                bsio.supplier_code = #{supplierCode}
            </if>
            <if test="userType == 1">
                <!-- 供应商看自己的数据 -->
                AND bsio.supplier_code IN (
                SELECT username FROM sys_user WHERE real_name = #{realName}
                )
            </if>
            <if test="userType == 0">
                <!-- 企业用户看绑定供应商的数据 -->
                AND bsio.supplier_code IN (
                SELECT supplier_code FROM sys_material_supplier WHERE material_number IN (SELECT material_number FROM sys_material WHERE buyer_number = #{realName})
                )
                <!-- 企业用户看绑定物料的数据 -->
                AND bsio.material IN (
                SELECT material_number FROM sys_material WHERE buyer_number = #{realName}
                )
            </if>
            <if test="plant != null and plant != ''">
                AND bsio.plant = #{plant}
            </if>
            <if test="startTime != null and startTime != '' and entTime !=null and entTime != '' ">
                AND bsio.create_time BETWEEN #{startTime} AND #{entTime}
            </if>
        </where>
    </select>

    <!-- 查询一个标准物资开票-->
    <select id="getOneById" parameterType="java.lang.Integer" resultMap="standardInvoiceOut">
        SELECT
        <include refid="base_column"/>
        FROM bus_standard_invoice_out bsio
        LEFT JOIN sys_material sm ON bsio.material = sm.material_number
        WHERE bsio.id = #{id}
    </select>

    <!-- 查询标准物资开票-->
    <select id="getStandardByPOrderAndMat" parameterType="java.lang.String" resultMap="standardInvoiceOut">
        SELECT
        bsio.id,bsio.plant,bsio.`order`,bsio.material_voucher,bsio.voucher_project,bsio.material,
        bsio.supplier_code,
        bsio.hong_project,bsio.interim_invoice_number,bsio.aggregate_amount,bsio.purchase_order,bsio.not_out_invoice_number,
        bsio.unit_price,quantity,bsio.create_time,bsio.status
        FROM bus_standard_invoice_out bsio
        <where>
            <if test="purchaseOrder != null and purchaseOrder != ''">
                bsio.purchase_order = #{purchaseOrder}
            </if>
            <if test="material != null and material != ''">
                AND bsio.material = #{material}
            </if>
        </where>
    </select>

    <!-- 获取最大序号 -->
    <select id="getMaxId" resultType="java.lang.Integer">
        SELECT IFNULL(max(id),0) FROM bus_standard_invoice_out
    </select>

    <!-- 删除标准物资开票 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM bus_standard_invoice_out WHERE id = #{id}
    </delete>

    <!-- 添加标准物资开票 -->
    <insert id="add" parameterType="com.jaezi.bus.financialAffairs.model.StandardInvoiceOut">
        INSERT INTO bus_standard_invoice_out(plant,`order`,material_voucher,voucher_project,material,supplier_code,
        hong_project,interim_invoice_number,aggregate_amount,purchase_order,not_out_invoice_number,unit_price,quantity,create_time,status)
        VALUES(#{plant}, #{order}, #{materialVoucher},#{voucherProject},#{material},#{supplierCode},
        #{hongProject},#{interimInvoiceNumber},#{aggregateAmount},#{purchaseOrder},#{notOutInvoiceNumber},#{unitPrice},#{quantity},#{createTime},#{status})
    </insert>

    <!-- 批量添加标准物资开票 -->
    <insert id="saveBath">
        insert IGNORE bus_standard_invoice_out (id, plant,`order`,material_voucher,voucher_project,material,supplier_code,
        hong_project,interim_invoice_number,aggregate_amount,purchase_order,not_out_invoice_number,unit_price,quantity,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.plant}, #{item.order}, #{item.materialVoucher},#{item.voucherProject},#{item.material},
            #{item.supplierCode},#{item.hongProject},#{item.interimInvoiceNumber},
            #{item.aggregateAmount},#{item.purchaseOrder},#{item.notOutInvoiceNumber},#{item.unitPrice},#{item.quantity},
            #{item.createTime})
        </foreach>
    </insert>

    <!-- 更新标准物资开票 -->
    <update id="update" parameterType="com.jaezi.bus.financialAffairs.model.StandardInvoiceOut">
        UPDATE bus_standard_invoice_out
        SET
        <trim suffixOverrides=",">
            <if test="plant != null and plant != ''">plant = #{plant},</if>
            <if test="order != null and order != ''">`order` = #{order},</if>
            <if test="materialVoucher != null and materialVoucher != ''">material_voucher = #{materialVoucher},</if>
            <if test="voucherProject != null and voucherProject != ''">voucher_project = #{voucherProject},</if>
            <if test="material != null and material != ''">material = #{material},</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="hongProject != null and hongProject != ''">hong_project = #{hongProject},</if>
            <if test="interimInvoiceNumber != null and interimInvoiceNumber != ''">interim_invoice_number = #{interimInvoiceNumber},</if>
            <if test="aggregateAmount != null and aggregateAmount != ''">aggregate_amount = #{aggregateAmount},</if>
            <if test="purchaseOrder != null and purchaseOrder != ''">purchase_order = #{purchaseOrder},</if>
            <if test="notOutInvoiceNumber != null ">not_out_invoice_number = #{notOutInvoiceNumber},</if>
            <if test="unitPrice != null and unitPrice != ''">unit_price = #{unitPrice},</if>
            <if test="quantity != null and quantity != ''">quantity = #{quantity},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        WHERE purchase_order = #{purchaseOrder} and hong_project = #{hongProject}
    </update>
</mapper>