<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "- //mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaezi.bus.purchase.dao.ProductionPlanImportDao">
    <resultMap id="productionPlanImport" type="com.jaezi.bus.purchase.model.ProductionPlanImport">
        <id column="id" property="id"/>
        <result column="material_number" property="materialNumber"/>
        <result column="material_description" property="materialDescription"/>
        <result column="supplier_inventory" property="supplierInventory"/>
        <result column="order_qty" property="orderQty"/>
        <result column="inventory_diff" property="inventoryDiff"/>
        <result column="update_time" property="updateTime"/>
        <result column="supplier_code" property="supplierCode"/>
    </resultMap>

    <resultMap id="productionPlanImportVo" type="com.jaezi.bus.purchase.vo.ProductionPlanImportVo">
    </resultMap>

    <sql id="base_column">
        bppi.id,
        bppi.material_number,
        sm.material_description,
        bppi.supplier_inventory,
        bppi.order_qty,
        bppi.inventory_diff,
        bppi.update_time,
        bppi.supplier_code
    </sql>

    <!-- 查询所有生产计划 -->
    <select id="getAllVos" resultMap="productionPlanImport" parameterType="java.util.Map">
        SELECT
        <include refid="base_column"></include>
        FROM bus_production_plan_import bppi
        LEFT JOIN sys_material sm ON bppi.material_number = sm.material_number
        <where>
            <if test="supplierCode != null and supplierCode != ''">
                supplier_code = #{supplierCode}
            </if>
            <if test="userType == 1">
                <!-- 供应商看自己的数据 -->
                AND bppi.supplier_code IN (
                SELECT username FROM sys_user WHERE real_name = #{realName}
                )
            </if>
            <if test="userType == 0">
                <!-- 企业用户看绑定供应商的数据 -->
                AND bppi.supplier_code IN (
                SELECT supplier_code FROM sys_material_supplier WHERE material_number IN (SELECT material_number FROM sys_material WHERE buyer_number = #{realName})
                )
                <!-- 企业用户看绑定物料的数据 -->
                AND bppi.material_number IN (
                SELECT material_number FROM sys_material WHERE buyer_number = #{realName}
                )
            </if>
            <if test="materialNumber != null and materialNumber != ''">
                AND bppi.material_number LIKE CONCAT('%',#{materialNumber},'%')
            </if>
            <if test="materialDescription != null and materialDescription != ''">
                AND sm.material_description LIKE CONCAT('%',#{materialDescription},'%')
            </if>
        </where>
    </select>

    <!-- 根据ID 获取生产计划 -->
    <select id="getOneById" parameterType="java.lang.Integer" resultMap="productionPlanImport">
        SELECT
        <include refid="base_column"></include>
        FROM bus_production_plan_import bppi
        LEFT JOIN sys_material sm ON bppi.material_number = sm.material_number
        WHERE bppi.id = #{id}
    </select>

    <!-- 验证数据库是否有数据 -->
    <select id="getProductionPlanBy" resultType="java.lang.String">
        SELECT id
        FROM bus_production_plan_import WHERE
        <if test="materialNumberList != null and materialNumberList != '' and materialNumberList.size() != 0">
            material_number IN
            <foreach item="item" collection="materialNumberList" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
        <if test="supplierCodeList != null and supplierCodeList != '' and supplierCodeList.size() != 0">
            AND supplier_code IN
            <foreach item="item" collection="supplierCodeList" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 批量添加生产计划导入 -->
    <insert id="add" parameterType="com.jaezi.bus.purchase.model.Inventory" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
    </insert>

    <!-- 批量添加生产计划导入 -->
    <insert id="saveBath">
        INSERT INTO bus_production_plan_import (<include refid="base_column"/>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (NULL,#{item.materialNumber},#{item.materialDescription},#{item.supplierInventory},
            #{item.orderQty},#{item.inventoryDiff},#{item.updateTime},#{item.supplierCode})
        </foreach>
    </insert>

    <!-- 更新生产计划导入 -->
    <update id="update" parameterType="com.jaezi.bus.purchase.model.Inventory">

    </update>

    <!-- 删除生产计划导入 -->
    <delete id="delete" parameterType="java.lang.Integer">

    </delete>

    <!-- 批量更新生产计划导入 -->
    <update id="updateBath" parameterType="java.util.List">
        UPDATE bus_production_plan_import
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="supplier_inventory = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    WHEN material_number = #{item.materialNumber} AND supplier_code = #{item.supplierCode}
                    THEN #{item.supplierInventory}
                </foreach>
            </trim>
        </trim>
        WHERE material_number IN
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.materialNumber}
        </foreach>
        AND supplier_code IN
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.supplierCode}
        </foreach>
    </update>

</mapper>